
.App {
  /*display: flex;*/
  gap: 20px; /* Відстань між TodoList */
  padding: 20px;
  justify-content: flex-start; /* Вирівнює списки зліва */
  align-items: flex-start; /* Вирівнює по верхньому краю */
  flex-wrap: wrap; /* Додає перенесення на новий рядок */
}
.todoList-container {
  display: flex;
  gap: 20px; /* Відстань між TodoList */
  padding: 20px;
  justify-content: flex-start; /* Вирівнює списки зліва */
  align-items: flex-start; /* Вирівнює по верхньому краю */
  flex-wrap: wrap; /* Додає перенесення на новий рядок */

}

.App > div {
  margin-right: 50px;
}

/*.error {*/
/*  flex: 3; !* 80% ширини *!*/
/*  padding: 8px;*/
/*  font-size: 16px;*/
/*  border: 1px solid #ccc;*/
/*  border-right: none;*/
/*  border-radius: 4px 0 0 4px;*/
/*  height: 40px;*/
/*  box-sizing: border-box;*/
/*  margin-right: 5px;*/
/*}*/

/*.error-message {*/
/*  !*color: red;*!*/
/*  color: yellow;*/
/*}*/

/*.error {*/
/*  border: 1px solid red;*/
/*}*/

/*.error-message {*/
/*  color: red;*/
/*  font-size: 12px;*/
/*}*/

.active-filter {
  /*background-color: aquamarine;*/
  background-color: yellow;
  color: saddlebrown;
}
.is-done {
  opacity: 0.5;
}






